@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #0f0f0f;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 100rem;
  width: 100%;
  margin: auto;
}

::-moz-selection {
  background-color: #00f9c3;
  color: #0f0f0f;
}

::selection {
  background-color: #00f9c3;
  color: #0f0f0f;
}

.heading {
  color: #00f9c3;
}

.heading-primary {
  display: block;
  font-size: 7rem;
  margin: 2rem 0;
}

.heading-secondary {
  display: block;
  padding: 2rem;
  margin: 2rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  opacity: 0.7;
  color: #fff;
  font-size: 4rem;
}

.banner {
  height: 100vh;
  margin: auto;
  padding: 0 2rem;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__text {
  color: #fff;
  font-size: 2.5rem;
}

p.typewrite {
  text-decoration: none;
  color: #ccfff0cc;
}

.aboutme {
  padding: 0 5rem;
  color: #fff;
}

.aboutme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme__image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5rem 3rem;
  border: 2px solid #000;
}

.aboutme__image img {
  max-height: 400px;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
}

.aboutme__heading {
  color: #00f9c3;
  font-size: 4rem;
  margin: 2rem 0;
}

.aboutme__content {
  margin: 3rem;
  padding: 3rem;
}

.aboutme__content p {
  color: #ccfff0cc;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-size: 1.6rem;
  margin-bottom: 45px;
}

.aboutme__skill-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.aboutme__skill-lists ul {
  list-style: square;
  margin: 0 2rem;
}

.aboutme__skill-lists ul li {
  margin: 1rem 0;
  letter-spacing: 1px;
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: #ccfff0cc;
}

.aboutme p {
  margin: 1rem 0;
  letter-spacing: 1px;
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #0f0f0f;
}

.about-text h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #fff;
  font-size: 75px;
  margin-bottom: 20px;
}

.about-text h5 {
  text-transform: capitalize;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 25px;
  font-size: 22px;
}

.about-text h5 span {
  color: #00f9c3;
}

.about-text p {
  color: #ccfff0cc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.contact-me {
  width: 100%;
  height: 290px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me a {
  text-decoration: none;
}

.btn {
  padding: 2rem;
  font-size: 2rem;
}

.btn-primary {
  border-radius: 5px;
  background-color: #000;
  border: 1px solid #00f9c3;
  color: #00f9c3;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #00f9c3;
  color: #000;
}

.btn-secondary {
  border-radius: 5px;
  background-color: #00f9c3;
  padding: 1.2rem 1.5rem;
  border: 1px solid #000;
  color: #000;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: #000;
  color: #00f9c3;
  border: 1px solid #00f9c3;
}

.card {
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #00f9c3;
}

.footer {
  font-size: 1.6rem;
  background-color: #0f0f0f;
}

.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
  background-color: transparent;
}

.header .logo {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #00f9c3;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation {
  display: block;
  z-index: 999;
}

.navigation .expanded {
  margin-right: 0;
}

.navigation__icon {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: pointer;
}

.navigation__icon:hover .navigation__icon-bar {
  width: 3rem;
}

.navigation__icon-bar {
  width: 3rem;
  display: block;
  margin-top: 2px;
  background-color: #00f9c3;
  height: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation__icon-bar:nth-child(1) {
  width: 1.7rem;
}

.navigation__icon-bar:nth-child(2) {
  width: 2rem;
}

.navigation__icon-bar:nth-child(4) {
  width: 1.8rem;
}

.navigation__icon-bar:nth-child(5) {
  width: 2rem;
}

.navigation__icon-close svg {
  width: 30px;
  fill: #00f9c3;
  height: 30px;
  position: absolute;
  top: 3rem;
  right: 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.navigation__icon-close svg:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.navigation__menu {
  height: 100%;
  width: 100%;
  max-width: 50rem;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: -100%;
  background-color: #030303;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation__menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  opacity: 0.8;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__menu a::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  color: #00f9c3;
}

.navigation__menu a:hover {
  color: #00f9c3;
}
/*# sourceMappingURL=main.css.map */