@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

.typeText::after {
    content: "|";
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "components/button";
@import "components/card";

@import "layout/footer";
@import "layout/header";
@import "layout/navigation";