.banner {
  height: 100vh;
  margin: auto;
  padding: 0 2rem;
  background: $color-black;

  display: flex;
  align-items: center;

  &__text {
    color: $color-white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__heading {
    transform: translateX(-1rem);
  }
}

p.typewrite {
  text-decoration: none;
  color: $color-primary-light;
}

.aboutme {
  padding: 0 5rem;
  // background-color: $color-white;
  color: $color-white;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__image {
    width: fit-content;
    margin: 5rem 3rem;
    border: 2px solid $color-black;

    & img {
      max-height: 400px;
      transform: translate(10px, 10px);
    }
  }

  &__heading {
    color: $color-primary;
    font-size: 4rem;
    margin: 2rem 0;
  }

  &__content {
    margin: 3rem;
    padding: 3rem;

    & p {
      color: $color-primary-light;
      letter-spacing: 1px;
      line-height: 2.5rem;
      font-size: $default-font-size;
      margin-bottom: 45px;
    }
  }

  &__skill {
    &-lists {
      display: flex;
      width: 100%;

      & ul {
        list-style: square;
        margin: 0 2rem;

        & li {
          margin: 1rem 0;
          letter-spacing: 1px;
          line-height: 2.5rem;
          font-size: $default-font-size;
          color: $color-primary-light;
        }
      }
    }
  }
  p {
    margin: 1rem 0;
    letter-spacing: 1px;
  }
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: $color-black-light;

  &-text {
    & h2 {
      text-transform: capitalize;
      margin-bottom: 20px;
      color: $color-white;
      font-size: 75px;
      margin-bottom: 20px;
    }

    & h5 {
      text-transform: capitalize;
      color: white;
      letter-spacing: 2px;
      margin-bottom: 25px;
      font-size: 22px;

      & span {
        color: $color-primary;
      }
    }

    & p {
      color: $color-white;
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      margin-bottom: 45px;
    }
  }
}
.contact-me {
  width: 100%;
  height: 290px;
  background: $color-black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  & a {
    text-decoration: none;
  }
}

.service {
  background: $color-black;
  width: 100%;
  padding: 100px 0px;

  & .title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
  }

  & i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 2rem;
    margin: 25px 0px;
    color: $color-primary;
  }

  & p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }
  & .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & h5 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
