.banner {
  height: 100vh;
  margin: auto;
  padding: 0 2rem;
  background: $color-black;

  display: flex;
  align-items: center;

  &__text {
    color: $color-white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  &__heading {
    transform: translateX(-1rem);
    & .heading-secondary {
      padding-left: 0;
    }
  }

  & a {
    text-decoration: none;
  }
}

p.typewrite {
  text-decoration: none;
  color: $color-primary-light;
}

.aboutme {
  padding: 0 5rem;
  // background-color: $color-white;
  color: $color-white;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__image {
    width: fit-content;
    margin: 5rem 3rem;
    border: 2px solid $color-black;

    & img {
      max-height: 400px;
      transform: translate(10px, 10px);
    }
  }

  &__heading {
    color: $color-primary;
    font-size: 4rem;
    margin: 2rem 0;
  }

  &__content {
    margin: 3rem;
    padding: 3rem;

    & p {
      color: $color-primary-light;
      letter-spacing: 1px;
      line-height: 2.5rem;
      font-size: $default-font-size;
      margin-bottom: 45px;
    }
  }

  &__skill {
    &-lists {
      display: flex;
      width: 100%;

      & ul {
        list-style: square;
        margin: 0 2rem;

        & li {
          margin: 1rem 0;
          letter-spacing: 1px;
          line-height: 2.5rem;
          font-size: $default-font-size;
          color: $color-primary-light;
        }
      }
    }
  }
  p {
    margin: 1rem 0;
    letter-spacing: 1px;
  }
}

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: $color-black-light;

  &-text {
    & h5 {
      text-transform: capitalize;
      color: white;
      letter-spacing: 2px;
      margin-bottom: 25px;
      font-size: 22px;

      & span {
        color: $color-primary;
      }
    }

    & p {
      color: $color-white;
      letter-spacing: 1px;
      line-height: 28px;
      font-size: 18px;
      margin-bottom: 45px;
    }

    & a {
      text-decoration: none;
    }
  }
}
.contact-me {
  width: 100%;
  height: 290px;
  background: $color-black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  & p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  & a {
    text-decoration: none;
  }
}

.service {
  background: $color-black;
  width: 100%;
  padding: 100px 0px;

  & i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 2rem;
    margin: 25px 0px;
    color: $color-primary;
  }

  & p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }
  & .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  & h5 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: $color-white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.project .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  border: 1px solid $color-primary-light;
  border-radius: 10px;
  position: relative;
  background-image: url(img1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project .pi2 {
  background-image: url(img2.png);
}
.project .pi3 {
  background-image: url(img3.png);
}
.project .pi4 {
  background-image: url(img4.png);
}
.project .pi5 {
  background-image: url(img5.png);
}
.project .pi6 {
  background-image: url(img6.png);
}
.project .img::before {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  border: 1px solid $color-primary;
  backdrop-filter: blur(2px);
  background-color: $color-black-light;
}
.project .img:hover::before {
  opacity: 1;
}
.project .img p {
  width: 80%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: 20px;
  color: $color-white;
}
.project .img button {
  opacity: 0;
  transition: opacity 0.3s;
}
.project .img:hover p,
.project .img:hover button {
  opacity: 1;
}
