.header{

    padding: 2rem;

    & .logo{
        font-size: 1.5rem;
        font-weight: 100;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: $color-primary;
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}