.navigation {
  .expanded {
    margin-right: 0;
  }

  &__icon {

    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999;


    .bar1,
    .bar2,
    .bar3 {
      width: 35px;
      height: 5px;
      background-color: #00d8a2;
      margin: 6px 0;
      transition: 0.5s;
    }

    &.change .bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    &.change .bar2 {
      opacity: 0;
    }

    &.change .bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
    }
  }
}

.navigation__menu {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-right: -100%;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navigation__menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: Gotham;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navigation__menu a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

.navigation__menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
