.btn {
  padding: 2rem;
  font-size: 2rem;

  &-primary {
    border-radius: 5px;
    background-color: $color-black;
    border: 1px solid $color-primary;
    color: $color-primary;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background-color: $color-primary;
      color: $color-black;
    }
  }

  &-secondary {
    border-radius: 5px;
    background-color: $color-primary;
    border: 1px solid $color-black;
    color: $color-primary;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background-color: $color-black;
      color: $color-primary;
    }
  }
}
