*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
    background-color: $color-primary-dark;
    color: $color-white;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

::selection {
    background-color: $color-primary;
    color: $color-primary-dark;
}