// COLORS
$color-primary: #55e7b7;
$color-primary-light: #62fac7;
$color-primary-dark: #3b9b7b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #222222;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;